# Sanity project credentials for sync script and studio
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2024-01-01
SANITY_TOKEN=

# Sanity Studio local config
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
